<div v-if="kids" class="main-form">
    <div class="form-title">
        Персональные данные
    </div>
    <info current-record="owner"/>
    <div class="kids-form-title ">
        <div class="form-title">
            Дети (макс. 5)
        </div>
        <div>
            <button
                    v-if="kids.length<5"
                    class="btn"
                    @click="addKids"
            >
                + Добавить ребёнка
            </button>
        </div>
    </div>
    <div
            v-for="(kid) in kids"
            :key="kid.id">
        <info
                :kid-id="kid.id"
                current-record="kid"
        />
    </div>
    <button
            class="btn-blue"
            @click="saveToStorage"
    >
        Сохранить
    </button>
</div>