<div v-if="readyToShowOwner()" class="main-form">
    <div class="form-title">
        Персональные данные
    </div>
    <div class="font-bold">
        {{ store.owner.name }}, {{ ageToText(store.owner.age) }}
    </div>
    <div v-if="store.kids.length >0 " class="form-title padding-top-3">
        Дети
    </div>
    <div v-else class="form-title padding-top-3">
        Детей нет
    </div>
    <div class="row">
        <div
                v-for="kid in store.kids"
                class="font-bold kid-form"
        >
            {{ kid.name }}, {{ ageToText(kid.age) }}
        </div>
    </div>

</div>
<div v-else class="main-form">
    <div class="form-title">
        Введите персональные данные
    </div>
</div>